* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", cursive;
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Open+Sans:wght@300&display=swap");
:root {
  --txt-clr: white;
  --bg-btn: rgba(255, 255, 255, 0.371);
  --bg-btn0hover: rgba(255, 255, 255, 0.433);
  --padding-right: 1rem;
  --capital-clr: rgb(254, 155, 34);
}
.background {
  background-image: linear-gradient(
      to top,
      #23479bcf,
      #86549a70,
      #b96c96ba,
      #d88e97e3,
      #c7a4a4fc
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100vw; */
  width: 100vw;
  height: 100vh;
}
.weather {
  width: 45rem;
  height: 30rem;
  /* background-color: red; */
  background-image: linear-gradient(
    to bottom,
    #c566be,
    #9f62b9,
    #795eb0,
    #5358a2,
    #2a5091
  );
  margin: auto;
  position: relative;
  top: 1rem;
  border-radius: 20px;
  box-shadow: 13px 15px 57px -6px black;
  /* margin-top: 2rem; */
}
.searchbox {
  display: flex;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
::placeholder {
  color: rgba(0, 0, 0, 0.355);
  padding-left: 1rem;
}
.search {
  width: 50%;
  padding-left: 1rem;

  /* width: 16rem; */
}
.search-btn {
  width: 25%;
  cursor: pointer;
  text-align: center;
  margin-left: 2rem;
  background: var(--bg-btn);
  color: var(--txt-clr);
  cursor: pointer;
}
.location {
  opacity: 0.3;
  margin-left: 2rem;
  text-align: center;

  background: var(--bg-btn);
  color: var(--txt-clr);
  width: 4rem;
  cursor: pointer;
}
.search,
.search-btn,
.location {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  transition: 0.2s ease-in-out;
}
.search-btn:hover,
.location:hover {
  background-color: rgba(255, 255, 255, 0.507);
  transition: 0.5s ease-in-out;
}
.location-time {
  margin: 1.5rem auto 0 auto;
  width: 85%;
  color: var(--txt-clr);
  font-size: 0.7rem;
}
.location-update {
  color: var(--capital-clr);
  font-size: 2rem;
  letter-spacing: 1px;
}
.current-temperature {
  width: 85%;
  margin: 1rem auto 0 auto;
  color: var(--txt-clr);
}
.current-temperature-data {
  font-family: "Baloo 2", cursive;
  margin-top: 1rem;
  display: flex;
}
.current-temperature-data p {
  font-size: 2rem;
}
.icon-temperature {
  display: flex;
}
.icon-img-temperature {
  width: 4rem;
  height: 4rem;
}
.current-deg {
  font-size: 1rem;
}
.current-data {
  margin-left: 10rem;
}
.current-data p {
  font-size: 0.7rem;
}
.forecast {
  width: 85%;
  margin: 3rem auto 0 auto;
  color: var(--txt-clr);
}
.forecast-text {
  text-align: center;
  color: var(--txt-clr);
}
.weather-forecast {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.icon-forecast {
  /* width: 4rem; */
  height: 3rem;
}
.weather-forecast p {
  text-align: center;
}
.name-info {
  text-align: center;
  margin-top: 3rem;
  color: var(--txt-clr);
  letter-spacing: 1px;
}
.name-info a {
  color: rgb(0, 238, 255);
  text-decoration: underline;
}
.name-info a:hover {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1000px) {
  .weather {
    width: 35rem;
    height: 25rem;
  }
  .searchbox {
    padding-top: 1rem;
  }
  .location-time {
    margin: 0.5rem auto 0 auto;
    font-size: 0.5rem;
  }
  .location-update {
    font-size: 1.5rem;
  }
  .current-temperature {
    margin: 0.7rem auto 0 auto;
  }
  .temperature-detail {
    font-size: 0.8rem;
  }
  .current-temperature-data {
    margin-top: 0.5rem;
  }
  .icon-img-temperature {
    width: 3rem;
    height: 3rem;
  }
  .icon-temperature p {
    font-size: 1.5rem;
  }
  .current-data p {
    font-size: 0.5rem;
  }
  .forecast {
    margin: 1rem auto 0 auto;
  }
}
@media (max-width: 720px) {
  .weather {
    width: 25rem;
    height: 25rem;
  }
  .searchbox {
    padding-top: 1rem;
  }
  .location-time {
    margin: 0.5rem auto 0 auto;
    font-size: 0.5rem;
  }
  .location-update {
    font-size: 1rem;
    /* font-size: bold; */
    font-weight: bold;
  }
  .current-temperature {
    margin: 0.7rem auto 0 auto;
  }
  .temperature-detail {
    font-size: 0.7rem;
  }
  .current-temperature-data {
    margin-top: 0.4rem;
  }
  .icon-img-temperature {
    width: 3rem;
    height: 3rem;
  }
  .icon-temperature p {
    font-size: 1rem;
    font-weight: bold;
  }
  .current-data {
    margin-left: 4rem;
  }
  .current-data p {
    font-size: 0.5rem;
  }
  .forecast {
    margin: 1rem auto 0 auto;
  }
  .forecast-text {
    font-size: 0.8rem;
  }
  .weather-forecast p {
    font-size: 0.8rem;
  }
  .icon-forecast {
    height: 2.5rem;
  }
  .mob-hide {
    display: none;
  }
  ::placeholder {
    font-size: 0.6rem;
    padding-left: 0.5rem;
  }
  .search,
  .search-btn,
  .location {
    font-size: 0.6rem;
  }
  .name-info {
    font-size: 0.8rem;
  }
}
@media (max-width: 530px) {
  .weather {
    width: 18rem;
    height: 27rem;
  }
  .searchbox {
    padding-top: 1rem;
  }
  .search {
    width: 60%;
    font-size: 0.4rem;
  }
  ::placeholder {
    font-size: 0.3rem;
    letter-spacing: 0.1px;
    /* padding-left: 0.3rem; */
  }
  .search-btn {
    margin-left: 1rem;
    width: 40%;
  }
  .location {
    margin-left: 1rem;
  }
  .location-time {
    margin: 0.5rem auto 0 auto;
    font-size: 0.5rem;
  }
  .location-update {
    font-size: 1rem;
    /* font-size: bold; */
    font-weight: bold;
  }
  .current-temperature {
    margin: 0.7rem auto 0 auto;
  }
  .temperature-detail {
    font-size: 0.7rem;
  }
  .current-temperature-data {
    margin-top: 0.4rem;
  }
  .icon-img-temperature {
    width: 3rem;
    height: 3rem;
  }
  .icon-temperature p {
    font-size: 1rem;
    font-weight: bold;
  }
  .current-data {
    margin-left: 2rem;
  }
  .current-data p {
    font-size: 0.5rem;
  }
  .forecast {
    margin: 3rem auto 0 auto;
  }
  .forecast-text {
    font-size: 0.6rem;
  }
  .weather-forecast p,
  .current-deg {
    font-size: 0.6rem;
  }
  .icon-forecast {
    height: 2.5rem;
  }
  .mob-hide {
    display: none;
  }
  ::placeholder {
    font-size: 0.6rem;
    padding-left: 0.5rem;
  }
  .search,
  .search-btn,
  .location {
    font-size: 0.6rem;
  }
  .name-info {
    font-size: 0.8rem;
  }
}
